@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "@toolwind/corner-shape";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.997 0 0);
  --foreground: oklch(0.2161 0.0061 56.0434);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2161 0.0061 56.0434);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2161 0.0061 56.0434);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(0.997 0 0);
  --secondary: oklch(0.9276 0.0058 264.5313);
  --secondary-foreground: oklch(0.2161 0.0061 56.0434);
  --muted: oklch(0.967 0.0029 264.5419);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9619 0.0179 272.3144);
  --accent-foreground: oklch(51.952% 0.27327 285.396);
  --destructive: oklch(54.185% 0.1801 25.554);
  --destructive-foreground: oklch(0.997 0 0);
  --border: oklch(57.923% 0.08761 296.457);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.709 0.1592 293.5412);
  --chart-2: oklch(0.8112 0.1013 293.5712);
  --chart-3: oklch(0.8943 0.0549 293.2829);
  --chart-4: oklch(0.9514 0.025 236.8242);
  --chart-5: oklch(0.9619 0.0179 272.3144);
  --sidebar: oklch(58.48% 0.2379 290.964);
  --sidebar-foreground: oklch(0.997 0 0);
  --sidebar-primary: oklch(0.4907 0.2412 292.5809);
  --sidebar-primary-foreground: oklch(0.997 0 0);
  --sidebar-accent: oklch(0.9742 0.0213 323.4333);
  --sidebar-accent-foreground: oklch(0.4907 0.2412 292.5809);
  --sidebar-border: oklch(0.709 0.1592 293.5412);
  --sidebar-ring: oklch(97.202% 0.01241 301.037);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1757 0.012 319.4614);
  --foreground: oklch(0.997 0 0);
  --card: oklch(0.2298 0.0145 310.7311);
  --card-foreground: oklch(0.997 0 0);
  --popover: oklch(0.2298 0.0145 310.7311);
  --popover-foreground: oklch(0.997 0 0);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(0.997 0 0);
  --secondary: oklch(0.2298 0.0145 310.7311);
  --secondary-foreground: oklch(0.997 0 0);
  --muted: oklch(0.2298 0.0145 310.7311);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.2298 0.0145 310.7311);
  --accent-foreground: oklch(0.709 0.1592 293.5412);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.997 0 0);
  --border: oklch(39.661% 0.13288 293.275);
  --input: oklch(0.2298 0.0145 310.7311);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.709 0.1592 293.5412);
  --chart-2: oklch(0.8112 0.1013 293.5712);
  --chart-3: oklch(0.8943 0.0549 293.2829);
  --chart-4: oklch(0.9514 0.025 236.8242);
  --chart-5: oklch(0.9619 0.0179 272.3144);
  --sidebar: oklch(0.2298 0.0145 310.7311);
  --sidebar-foreground: oklch(0.997 0 0);
  --sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --sidebar-primary-foreground: oklch(0.997 0 0);
  --sidebar-accent: oklch(28.442% 0.01549 307.79);
  --sidebar-accent-foreground: oklch(0.709 0.1592 293.5412);
  --sidebar-border: oklch(0.3703 0.0119 285.8054);
  --sidebar-ring: oklch(0.709 0.1592 293.5412);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}
